#description
this notebook analyzez data

In [1]:
# The code was removed by Watson Studio for sharing.

,Unnamed: 0,Monthly Nominal GDP Index,Monthly Real GDP Index,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1992 - Jan,6315.826,9480.119,NaN,NaN,NaN,NaN,NaN
1,1992 - Feb,6356.427,9521.449,NaN,NaN,NaN,NaN,NaN
2,1992 - Mar,6417.054,9600.092,NaN,NaN,NaN,NaN,NaN
3,1992 - Apr,6443.278,9606.364,NaN,NaN,NaN,NaN,NaN
4,1992 - May,6433.980,9588.516,NaN,NaN,NaN,NaN,NaN